@font-face {
    font-family: "vazir";
    font-weight: 400;
    font-style: normal;
    src: url("/task/fonts/Vazir.woff") format("woff");
  }
  
  @font-face {
    font-family: "vazir";
    font-weight: 700;
    font-style: normal;
    src: url("/task/fonts/Vazir-Bold.woff") format("woff");
  }
body,
button {
    font-family: "vazir";
}